\:root
  --color-primary: hsl(243, 86%, 85%)
  --color-secondary: hsl(243, 87%, 12%)

  --color-highlight: hsl(163, 95%, 43%)

  --white: hsl(106, 0%, 98%)
  --grey: hsl(0, 0%, 50%)
  --black: hsl(0, 0%, 17%)

  --font-heading: 'Raleway', sans-serif

