.landing
  height: 100vh
  width: 100%
  background-color: var(--white)
  padding: 2rem
  background: url(../../images/bg-intro-mobile.svg) no-repeat 100% top

.landing__text
  height: 100vh
  text-align: center

.landing__header
  display: flex
  justify-content: space-between
  align-items: center

.header-buttons
  display: flex

.main-illustration
  width: 30rem
  height: 31rem

.features
  padding: 10rem 2rem
  text-align: center

.apps
  padding: 10rem 2rem
  text-align: center
  

.apps__connection
  padding: 5rem 0
  margin: 0 auto
  width: 25rem
  

.apps-logo
  height: 15rem
  display: flex
  align-items: center
  justify-content: center
  border-top-left-radius: .5rem
  border-top-right-radius: .5rem
  box-shadow: .2rem .2rem 2rem rgba(43,43,43, .2)

  & > img
    width: 15rem
  
.apps-description
  box-shadow: .2rem .2rem 2rem rgba(43,43,43, .2)
  border-bottom-left-radius: .5rem
  border-bottom-right-radius: .5rem
  padding: 0 2rem 3rem 2rem


.footer
  width: 100%
  padding: 10rem 2rem 2rem 2rem
  background-color: var(--color-secondary)

.footer__description
  padding: 3rem 0
  color: var(--white)

.footer__form
  display: flex
  flex-direction: column
  align-items: flex-end